# Ignore node_modules directory
dist/
node_modules/

# Ignore .env files containing sensitive information
.env
.env.local
.env.*.local
!.env.example

# Ignore log files
*.log

# Ignore uploads directory
uploads/
